<div  class="d-flex justify-content-center">
    <form [formGroup]="invoiceForm">
        <mat-card>
            <mat-card-header>
                <h3>Edit Invoice</h3>
            </mat-card-header>
            <mat-card-content>
                <div>
                    <mat-form-field>
                        <mat-label>Service</mat-label>
                        <input name="service" matInput type="text" placeholder="Service" formControlName="service">
                    </mat-form-field>
                </div>    
                <div>
                    <mat-form-field>
                        <mat-label>Hours</mat-label>
                        <input name="hours" matInput type="number" placeholder="Hours" formControlName="hours">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Rate</mat-label>
                        <input name="rate" matInput type="number" placeholder="Rate" formControlName="rate">
                        </mat-form-field>
                </div>
    
                <div class="toggler">
                        <mat-slide-toggle formControlName="paid">Paid</mat-slide-toggle>
                </div>
                <div class="total">
                    <mat-label>Total:</mat-label>
                        {{total | currency:'USD':true:'.2'}}
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div>
                    <span><button type="button" mat-button>Delete</button></span>
                    <span><button type="button" mat-button>Cancel</button></span>
                    <span><button type="submit" mat-raised-button color="primary" (click)="saveInvoice()">Save</button></span>
                </div>
            </mat-card-actions>
        </mat-card>
    </form>
</div>