<mat-card class="example-card">
    <mat-card-header class="d-flex justify-content-between">
      <span mat-card-avatar class="example-header-image">
        <img mat-card-image src="../../../../assets/imgs/img1.jpg" width="45px" height="50px" alt="Photo of a Shiba Inu">
      </span>
      <span>
        <mat-card-title>{{lga?.userInfos?.name}}</mat-card-title>
        <mat-card-subtitle>{{lga?.userTypeName}}</mat-card-subtitle>
      </span>
    </mat-card-header>
    <mat-card-content>
      <p>
        For the local government administrators, they would need to have the ability to add landlords and properties in their 
        respective areas. The user interface for this user type would include a form for adding new landlords, with fields for name, 
        property address, and owner name.
      </p>
      <p>
        No of landlords registerd: {{lga?.regUserIds?.length}} 
      </p>

    </mat-card-content>
    <mat-card-actions class=" d-flex justify-content-end">
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  