mat-toolbar{
    background-color: bisque;
    color: black;
    font-weight: bolder;
  }
  mat-sidenav{
    background-color: burlywood;
  }
  mat-toolbar mat-nav-list a.active{
    color: brown;
    background-color: burlywood;
  }
  a, .username{
    font-weight: unset;
  }
  img {
    border-radius: 35%;
  }
  .brand{
    font-weight: bolder;
  }
  a{
    color: black;
    font-weight: bold;
    opacity: 0.8;
  }
  a:hover {
    color: black;
    opacity: 1;
    font-weight: bolder;
  }
  a.active{
    color: brown;
    font-weight: bolder;
    background-color: bisque;
  }
  main{
    padding-bottom: 65px;
  }