<div>
  <mat-toolbar style="background-color: black; color:  rgb(250, 173, 71);">
    <span [routerLink]="['']" class="" routerLinkActive="active">
      <img src="../favicon.ico" alt="" style="color:  rgb(250, 173, 71);" width="30px" height="35px">REMT
    </span>
    <span class="example-icon" (click)="sidenav.toggle()" *ngIf="isLessThenLargeDevice">
      <mat-icon>menu</mat-icon>
    </span>
    <mat-nav-list *ngIf="!isLessThenLargeDevice">
      <a mat-raised-button style="background-color:  rgb(250, 173, 71); color: black" class="m-1 align-content-center"
        (click)="add_landlords()" routerLinkActive="active">
        add_landlords
      </a>
      <!-- <a mat-raised-button style="background-color:  rgb(250, 173, 71); color: black" class="m-1 align-content-center" 
          (click)="add_properties()" routerLinkActive="active">
          add_properties
          </a> -->
    </mat-nav-list>
    <span class="example-spacer"></span>
    <div class="">
      <a (click)="loginDialog()" *ngIf="!username" class="btn btn-sm mb-2">
        <i class="fa fa-lock-open"></i> Login
      </a>
      <a *ngIf="username" [matMenuTriggerFor]="navOptions" class="btn btn-sm m-0 p-0">
        <i class="fa fa-user-check"></i> {{username}}
      </a>
      <mat-menu #navOptions="matMenu">
        <button *ngIf="username" [routerLink]="['/', userType!.toLowerCase(), id, 'profile']" mat-menu-item
          class="mt-1">
          <i class="fa fa-user-circle"></i> Profile
        </button>
        <button *ngIf="username" (click)="logout()" mat-menu-item class="mt-1">
          <i class="fa fa-sign-out-alt"></i> Logout
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="">
    <mat-sidenav #sidenav [mode]="'over'" [opened]="isSidenavExpand && isLessThenLargeDevice">
      <a mat-raised-button *ngIf="isLessThenLargeDevice" style="background-color:  rgb(250, 173, 71); color: black"
        class="m-1 align-content-center" (click)="add_landlords()" routerLinkActive="active">
        add_landlords
      </a><br>
      <!-- <a mat-raised-button style="background-color:  rgb(250, 173, 71); color: black" class="m-1 align-content-center" 
          (click)="add_properties()" routerLinkActive="active">
          add_properties
          </a><br> -->
    </mat-sidenav>
    <mat-sidenav-content>
      <main>
        <router-outlet></router-outlet>
      </main>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>