<mat-dialog-content>
  <h2 mat-dialog-title align="center">
    <img src="/assets/login.PNG" class="brand_logo" alt="Logo" height="75px" width="75px"><br>
    <small>
      <b>Login</b>
    </small>
  </h2>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="loginForm">
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="w-100">
              <mat-label><i class="fa fa-user"></i>PhoneNumber</mat-label>
              <input name="phoneNumber" matInput type="text" placeholder="phoneNumber" formControlName="phoneNumber">
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="w-100">
              <mat-label><i class="fa fa-passport"></i> Password</mat-label>
              <input name="password" matInput type="text" placeholder="password" formControlName="password">
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-dialog-close class="btn btn-sm">
    <i class="fa fa-window-close"></i>Close
  </button>
  <button class="btn btn-sm m-2 login" (click)="onLogin()">
    <i class="fa fa-user-check"></i> Login!
  </button>
</mat-dialog-actions>