#searchField{
    width: 75px; 
    height: 20px;
}
mat-toolbar{
  background-color: bisque;
  color: black;
  font-weight: bold;
}
mat-toolbar mat-nav-list a{
  color: black;
  opacity: 0.8;
}
mat-toolbar mat-nav-list a:hover {
  color: black;
  opacity: 1;
  font-weight: bolder;
}
mat-toolbar mat-nav-list a.active{
  color: brown;
  background-color: bisque;
}
a, .username{
  font-weight: unset;
}
img {
  border-radius: 35%;
}
.brand{
  font-weight: bolder;
}
