<mat-toolbar>
  <span [routerLink]="['']" class="mt-2">
    <img src="../favicon.ico" alt="" width="30px" height="35px" />{{ "REMT" }}
  </span>
  <button mat-icon-button class="example-icon" (click)="displaySideNav()" *ngIf="isLessThenLargeDevice">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-nav-list *ngIf="!isLessThenLargeDevice">
    <span>
      <a mat-raised-button class="m-1 align-content-center" [routerLink]="['/', userType, id]"
        [ngClass]="{active: activeDashboard}">
        dashboard
      </a>
    </span>
    <span *ngFor="let permission of permisions">
      <a mat-raised-button class="m-1 align-content-center" [routerLink]="[permission]" routerLinkActive="active">
        {{ permission }}
      </a>
    </span>
  </mat-nav-list>
  <span class="example-spacer"></span>
  <!-- <div class="form-group">
    <input placeholder="search" type="text" #searchTerm id="searchField" class="form-control"
      (keyup)="search(searchTerm.value)" />
  </div> -->
  <div class="">
    <mat-menu #navOptions="matMenu">

      <button [routerLink]="['/', storageService.getUserTypeName(), storageService.getId(), 'profile']"
        *ngIf="logInUser && isLessThenLargeDevice" mat-menu-item class="mt-1">
        <i class="fa fa-user"></i> {{logInUser | formatNames}}
      </button>
      <button [routerLink]="['/', storageService.getUserTypeName(), storageService.getId(), 'profile']"
        *ngIf="logInUser && !isLessThenLargeDevice" mat-menu-item class="mt-1">
        <i class="fa fa-user"></i> Profile
      </button>
      <button (click)="registerDialog()" class="mt-1" mat-menu-item *ngIf="userType == 'admin'">
        <i class="fa fa-sign-in-alt"></i> Register
      </button>
      <button *ngIf="logInUser" (click)="logout()" mat-menu-item class="mt-1">
        <i class="fa fa-sign-out-alt"></i> Logout
      </button>
    </mat-menu>
    <button [matMenuTriggerFor]="navOptions" *ngIf="logInUser && isLessThenLargeDevice" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
    <a mat-raised-button [matMenuTriggerFor]="navOptions" *ngIf="logInUser && !isLessThenLargeDevice">
      <i class="fa fa-user"></i> {{logInUser | formatNames}}
    </a>
  </div>
</mat-toolbar>