<mat-toolbar style="background-color: black; color:  rgb(250, 173, 71);">
    <span [routerLink]="['']" class="mt-2" routerLinkActive="active">
        <img src="../favicon.ico" alt="" style="color:  rgb(250, 173, 71);" width="30px" height="35px">{{route||'REMT'}}
    </span>
    <button mat-icon-button class="example-icon" (click)="displaySideNav()" *ngIf="isLessThenLargeDevice">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-nav-list *ngIf="!isLessThenLargeDevice">
        <span class="m-1" *ngFor="let user of user$">
        <span *ngFor="let permission of user.permissions">
          <a mat-raised-button class="m-1 align-content-center" [routerLink]="[permission]" routerLinkActive="active">
            {{permission}}
          </a>
        </span>
        </span>
    </mat-nav-list>
    <span class="example-spacer"></span>
    <div class="">
      <a [routerLink]="['/auth']" *ngIf="route" mat-raised-button class="">
        <i class="fa fa-lock-open"></i>{{route+' Name'}}
      </a>
      <a [routerLink]="['/auth']"  *ngIf="!route" mat-raised-button class="">
        <i class="fa fa-lock-open"></i>Login
      </a>
      <a [routerLink]="['/auth/register']" *ngIf="route == 'admin' || route == 'lga'" mat-raised-button  class="m-1">
        <i class="fa fa-sign-in-alt"></i>Register
      </a>
    </div>
    <!-- <button mat-icon-button class="example-icon favorite-icon">
        <mat-icon>login</mat-icon>
    </button>
    <button mat-icon-button class="example-icon">
        <mat-icon>signup</mat-icon>
    </button> -->
</mat-toolbar>
