<div class="container-fluid">
  <div class="row pt-2">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title border-bottom">House Types Summary Chart</h4>
          <ngx-charts-bar-vertical [view]="[800,400]" [results]="estatesGroup" [xAxisLabel]="'Type'"
            [legendTitle]="'House Type Chart'" [yAxisLabel]="'Amount'" [legend]="true" [showXAxisLabel]="true"
            [showYAxisLabel]="true" [xAxis]="true" [yAxis]="true" [gradient]="true">
          </ngx-charts-bar-vertical>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-2">
    <div class="col-12">
      <div class="card" *ngFor="let estate of estates">
        <div class="card-body row border-success">
          <h4 class="card-title col-sm-3 align-middle">{{estate.type | formatNames}}
          </h4>
          <div class="card col-sm-9">
            <div class="card-body row">
              <h6 class="text-center text-decoration-underline"><b>House Details</b></h6>
              <blockquote class="col-sm-6"><b>Ward:</b> {{estate.ward}}</blockquote>
              <blockquote class="col-sm-6"><b>Street:</b> {{estate.street}} </blockquote>
              <blockquote class="col-sm-6"><b>Rooms:</b> {{estate.rooms}} </blockquote>
              <blockquote class="col-sm-6"><b>Tenants Records:</b> {{estate.rental_history?.length}} </blockquote>
              <blockquote class="col-sm-12"><b>Description:</b> {{estate.description}} </blockquote>
            </div>
            <hr>
            <div class="card-body row">
              <h6 class="text-center text-decoration-underline"><b>Owner Details</b></h6>
              <blockquote class="col-sm-6"><b>Owner:</b> {{estate.owner_Id.userInfos.name | formatNames}}</blockquote>
              <blockquote class="col-sm-6"><b>Gender:</b> {{estate.owner_Id.userInfos.gender}} </blockquote>
              <blockquote class="col-sm-6"><b>Age:</b> {{estate.owner_Id.userInfos.age | userAge}} </blockquote>
              <blockquote class="col-sm-6"><b>phoneNumber:</b> {{estate.owner_Id.userInfos.phoneNumber}} </blockquote>
              <blockquote class="col-sm-12"><b>Summary:</b> {{estate.owner_Id.userInfos.summary}} </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>