<div>
    <mat-toolbar style="background-color: black; color:  rgb(250, 173, 71);">
        <span [routerLink]="['']" class="mt-2" routerLinkActive="active">
  <img src="../favicon.ico" alt="" style="color:  rgb(250, 173, 71);" width="30px" height="35px">REMT
  </span>
        <button mat-icon-button class="example-icon" (click)="sidenav.toggle()" *ngIf="isLessThenLargeDevice">
    <mat-icon>menu</mat-icon>
  </button>
        <mat-nav-list *ngIf="!isLessThenLargeDevice">
            <span class="m-1" *ngFor="let userTypeName of userTypeNames">
      <a [routerLink]="[userTypeName]" routerLinkActive="active" class="btn btn-sm m-0 p-0">
        <i [ngClass]="{
          'fa fa-user-graduate': userTypeName=='admin'|| userTypeName=='lga'
      }"></i>
        {{userTypeName}}
      </a>
      </span>
        </mat-nav-list>
        <span class="example-spacer"></span>
        <div class="">
          <a (click)="loginDialog()" *ngIf="!username" class="btn btn-sm m-0 p-0">
            <i class="fa fa-lock-open"></i> Login
          </a>
          <a *ngIf="username" [matMenuTriggerFor]="navOptions" class="btn btn-sm m-0 p-0">
            <i class="fa fa-user-check"></i> {{username}}
          </a>
          <mat-menu #navOptions="matMenu">
            <button *ngIf="username" (click)="logout()" mat-menu-item class="mt-1">
              <i class="fa fa-sign-out-alt"></i> Logout
            </button>
            <button *ngIf="username" mat-menu-item class="mt-1" >
              <i class="fa fa-user-edit"></i> Account
            </button>
          </mat-menu>
        </div>
    </mat-toolbar>
    <mat-sidenav-container class="">
        <mat-sidenav #sidenav [mode]="'over'" [opened]="isSidenavExpand && isLessThenLargeDevice">
            <span *ngFor="let userTypeName of userTypeNames">
            <a mat-raised-button (click)="sidenav.toggle()" class="m-1 align-content-center" [routerLink]="[userTypeName]" routerLinkActive="active">
              <i [ngClass]="{
                'fa fa-user-graduate': userTypeName=='admin'|| userTypeName=='lga'
            }"></i>
              {{userTypeName}}
            </a><br>
          </span>
        </mat-sidenav>
        <mat-sidenav-content>
            <main>
                <router-outlet></router-outlet>
            </main>
            <app-footer></app-footer>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
