<div class="container-fluid">
  <div class="row pt-2">
    <div class="col-12">
      <div class="card text-left">
        <div class="card-body">
          <h4 class="card-title border-bottom">User Types Summary Chart</h4>
          <ngx-charts-bar-vertical 
              [view]="[800,400]"
              [results]="users"
              [xAxisLabel]="'Users'"
              [legendTitle]="'User Type Chart'"
              [yAxisLabel]="'Amount'"
              [legend]="true"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxis]="true"
              [yAxis]="true"
              [gradient]="true">
          </ngx-charts-bar-vertical>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card text-left">
        <div class="card-body">
          <h4 class="card-title border-bottom">Houses per Street Chart</h4>
          <ngx-charts-pie-chart 
              [results]="estates"
              [legend]="true"
              [legendTitle]="'Product Sale Report'" 
              [view]="[800,300]"
              [labels]="true" >
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
  </div>
</div>