<div class="container-fluid">
  <div class="row pt-2">
    <div class="col-12">
      <div class="card text-left">
        <div class="card-body">
          <h5 class="card-title border-bottom text-center text-capitalize"><span>User Types Summary Chart</span></h5> <br>
          <h6 class="d-flex justify-content-between">
            <span>
              <span>Total Users: {{usersTotal}}</span>
            </span>
            <small>Users Registered By Admin {{storageService.getUserName() | formatNames}}: {{usersTotalByAdmin}}</small>
        </h6>
        <br>
          <ngx-charts-bar-vertical 
              [view]="[800,400]"
              [results]="users"
              [xAxisLabel]="'Users'"
              [legendTitle]="'User Type Chart'"
              [yAxisLabel]="'Amount'"
              [legend]="true"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxis]="true"
              [yAxis]="true"
              [gradient]="true">
          </ngx-charts-bar-vertical>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card text-left">
        <div class="card-body">
          <h4 class="card-title border-bottom d-flex justify-content-between">
            <span>Houses per Street Chart</span>
            <span>Total Estates : {{estatesTotal}}</span>
          </h4>
          <ngx-charts-bar-vertical 
              [view]="[800,400]"
              [results]="estates"
              [xAxisLabel]="'Estates'"
              [legendTitle]="'Estates Chart'"
              [yAxisLabel]="'Amount'"
              [legend]="true"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxis]="true"
              [yAxis]="true"
              [gradient]="true">
          </ngx-charts-bar-vertical>
        </div>
      </div>
    </div>
  </div>
</div>