<div>
    <app-header (sideNav)="toggleSidenav()"></app-header>
    <mat-sidenav-container class="">
        <mat-sidenav #sidenav [mode]="'over'" [opened]="isSidenavExpand && isLessThenLargeDevice">
            <app-side-nav (sideNav)="toggleSidenav()"></app-side-nav>
        </mat-sidenav>
        <mat-sidenav-content>
            <main>
                <router-outlet></router-outlet>
            </main>
            <app-footer></app-footer>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
