<h5 mat-dialog-title class="card-title">
    {{dialogData.action}} {{dialogData.context}}
</h5>
<mat-dialog-content class="card-text">
    <div class="card">
        <div class="card-body">
            <p>
                Are you sure to delete {{dialogData.name | formatNames}}?
            </p>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end" class="card-footer">
    <button mat-raised-button mat-dialog-close class="btn btn-sm m-1 close">
        <i class="fa fa-window-close"></i>Close
    </button>
    <button mat-raised-button *ngIf="dialogData.context=='Caretaker'" mat-dialog-close class="btn btn-sm m-1 del"
        (click)="deleteCaretaker()">
        <i class="fa fa-trash"></i>Delete Caretaker
    </button>
    <button mat-raised-button *ngIf="dialogData.context=='User'" mat-dialog-close class="btn btn-sm m-1 del"
        (click)="deleteUser()">
        <i class="fa fa-trash"></i>Delete User
    </button>
</mat-dialog-actions>