<div class="container-fluid">
    <div class="row pt-2 pb-2">
        <div class="col-12">
            <div class="card" *ngFor="let house of groupedHouses">
                <div class="card-body row border-success">
                    <h4 class="card-title col-sm-3 align-middle">{{house.from | date}} - {{house.to | date}}
                    </h4>
                    <div class="card col-sm-9">
                        <div class="card-body row">
                            <h6 class="text-center text-decoration-underline"><b>House Details</b></h6>
                            <blockquote class="col-sm-6"><b>Ward:</b> {{house.ward}}</blockquote>
                            <blockquote class="col-sm-6"><b>Street:</b> {{house.street}} </blockquote>
                            <blockquote class="col-sm-6"><b>Rooms:</b> {{house.rooms}} </blockquote>
                            <blockquote class="col-sm-6"><b>Tenants Records:</b> {{house.rental_history?.length}}
                            </blockquote>
                            <blockquote class="col-sm-12"><b>Description:</b> {{house.description}} </blockquote>
                        </div>
                        <hr>
                        <div class="card-body row">
                            <h6 class="text-center text-decoration-underline"><b>Owner Details</b></h6>
                            <blockquote class="col-sm-6"><b>Owner:</b> {{house.owner_Id.userInfos.name |
                                formatNames}}
                            </blockquote>
                            <blockquote class="col-sm-6"><b>Gender:</b> {{house.owner_Id.userInfos.gender}}
                            </blockquote>
                            <blockquote class="col-sm-6"><b>Age:</b> {{house.owner_Id.userInfos.age | userAge}}
                            </blockquote>
                            <blockquote class="col-sm-6"><b>phoneNumber:</b>
                                {{house.owner_Id.userInfos.phoneNumber}}
                            </blockquote>
                            <blockquote class="col-sm-12"><b>Summary:</b> {{house.owner_Id.userInfos.summary}}
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>