/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background-color: burlywood;
    color: black;
}

.belowNav {
    padding-top: 65px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.example-spacer {
    flex: 1 1 auto;
}
mat-toolbar{
  position: sticky;
  top: 0;
  z-index: 99;
}

mat-sidenav-container mat-sidenav{
  background-color:  burlywood;
  width: auto;
}
mat-sidenav-content,
mat-dialog-content,
mat-dialog-actions,
mat-card, mat-card-header, mat-card-content, mat-card-actions{
  background-color:  burlywood;
  color: black;
}

.card {
    background-color: inherit;
}

/* a{
  background-color: inherit;
  color: grey ;
  font-weight: bolder;
}

.sideNav .active{
  color: green ;
}
.active{
color: green;
} */
