a{
  color: black;
  font-weight: bold;
  opacity: 0.8;
}
a:hover {
  color: black;
  opacity: 1;
  font-weight: bolder;
}
a.active{
  color: brown;
  font-weight: bolder;
  background-color: bisque;
}