#searchField{
  width: 95px; 
  height: 20px;
  margin-right: 1px;
}
mat-toolbar{
  background-color: bisque;
  color: black;
  font-weight: bolder;
}
mat-sidenav-container mat-sidenav a{
  color: black;
  font-weight: bolder;
  text-decoration: none;
  border: none;
}
a, .username{
  font-weight: unset;
}
img {
  border-radius: 35%;
}
.brand{
  font-weight: bolder;
}
/* a:hover {
  color: goldenrod;
}
 */
 .form-group span.btn{
  color: black;
  opacity: 0.8;
}
.form-group span.btn:hover{
  color: black;
  opacity: 1;
  font-weight: bolder;
}

mat-toolbar mat-nav-list a{
  color: black;
  opacity: 0.8;
}
mat-toolbar mat-nav-list a:hover {
  color: black;
  opacity: 1;
  font-weight: bolder;
}

mat-toolbar mat-nav-list a.active{
  color: brown;
  background-color: burlywood;
}
mat-sidenav-container mat-sidenav{
  background-color: burlywood;
}
mat-sidenav-container mat-sidenav .active{
  color: brown;
  background-color: burlywood;
}
.form-group .btn {
  color: black;
}