<mat-dialog-content>
  <h3 align="center" mat-dialog-title>
    <img src="/assets/login.PNG" class="brand_logo" alt="Logo" height="75px" width="75px" /><br>
    <small>
      <b>Add Landlord</b>
    </small>
  </h3>
  <mat-card>
    <mat-card-content class="d-flex justify-content-center">
      <form [formGroup]="userInfosForm">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <mat-label>Name</mat-label>
              <input name="name" matInput type="text" placeholder="Name" formControlName="name" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <mat-label>User Type</mat-label>
              <input name="userTypeName" matInput readonly type="text" placeholder="userTypeName"
                formControlName="userTypeName">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <mat-label>NationId</mat-label>
              <input name="nation_Id" matInput type="text" placeholder="nationId" formControlName="nation_Id" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <mat-label>PhoneNumber</mat-label>
              <input name="phoneNumber" matInput type="text" placeholder="phoneNumber" formControlName="phoneNumber" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <mat-label>Password</mat-label>
              <input name="password" matInput type="text" placeholder="password" formControlName="password" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <mat-label>Age</mat-label>
              <input name="age" matInput type="text" placeholder="age" formControlName="age" />
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>

<mat-dialog-actions class="d-flex justify-content-center">
  <button mat-button mat-dialog-close class="close">
    <i class="fa fa-window-close"></i> Close!
  </button>
  <button mat-button mat-dialog-close class="add" (click)="addLandlord()">
    <i class="fa fa-plus-circle"></i> Add!
  </button>
</mat-dialog-actions>