mat-dialog-actions button {
  background-color:  bisque;
  color:  black;
}

mat-dialog-actions button.add {
  background-color:  bisque;
  border: 1px solid green;
  color:  green;
}
mat-dialog-actions button.close {
  background-color:  bisque;
  border: 1px solid red;
  color:  red;
}
img{
  border-radius: 50%;
}