<mat-dialog-content class="col-12">
  <h3 mat-dialog-title class="d-flex justify-content-center">
    <img src="/assets/login.PNG" class="brand_logo" alt="Logo" height="75px" width="75px">
  </h3>                  
                  <form [formGroup]="userInfosForm">
                    <mat-card style="padding: 0px; margin: 0px;">
                        
                        <mat-card-content style="background-color:  rgb(250, 173, 71);
                        color: black;">
                            <div>
                                <mat-form-field>
                                    <mat-label>Name</mat-label>
                                    <input name="name" matInput type="text" placeholder="Name" formControlName="name">
                                </mat-form-field>
                            </div>    
                            <div *ngIf="dialogData.action=='Edit'">
                                <mat-form-field>
                                    <mat-label>User Type</mat-label>
                                    <input name="userTypeName" matInput readonly type="text" placeholder="userTypeName" formControlName="userTypeName">
                                </mat-form-field>
                            </div>
                            <div *ngIf="dialogData.action=='Register'">
                                <mat-form-field>
                                    <mat-label><i class="fa fa-user-plus"></i> User Type</mat-label>
                                    <mat-select placeholder="Placeholder" formControlName="userTypeName" name="userTypeName">
                                      <mat-option *ngFor="let userTypeName of userTypeNames" [value]="userTypeName">
                                        {{userTypeName}}
                                      </mat-option>
                                    </mat-select>                                    
                                </mat-form-field>
                            </div>
                            <div>
                              <mat-form-field>
                                  <mat-label>NationId</mat-label>
                                  <input name="nationId" matInput type="text" placeholder="nationId" formControlName="nationId">
                              </mat-form-field>
                            </div>
                            <div>
                              <mat-form-field>
                                  <mat-label>PhoneNumber</mat-label>
                                  <input name="phoneNumber" matInput type="text" placeholder="phoneNumber" formControlName="phoneNumber">
                              </mat-form-field>
                          </div>
                          <div>
                            <mat-form-field>
                                <mat-label>Age</mat-label>
                                <input name="age" matInput type="text" placeholder="age" formControlName="age">
                            </mat-form-field>
                        </div>                                                                                           
                        </mat-card-content>                        
                    </mat-card>
                </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-dialog-close class="btn btn-sm">
    <i class="fa fa-window-close"></i>Close
  </button>
  <button class="btn btn-sm m-1" *ngIf="action == 'Edit'" (click)="onEdit()">
    <i class="fa fa-edit"></i> {{action}}!
  </button>
  <button class="btn btn-sm m-1" *ngIf="action !== 'Edit'" (click)="onRegister()">
    <i class="fa fa-file-upload"></i> Register!
  </button>
</mat-dialog-actions>
