<mat-dialog-content class="col-12">
                  <form action="">
                      <div class="mb-2">
                        <h3 mat-dialog-title class="d-flex justify-content-center">
                          <img src="/assets/login.PNG" class="brand_logo" alt="Logo" height="75px" width="75px">
                        </h3>
                        <!-- <p>
                          Registered? <br> Please
                         <button class="btn btn-sm" (click)="loginDialog()">Login</button>
                       </p> -->
                      </div>
                      <div>
                          <div class="mb-2">
                              <label class="form-label">Name</label>
                              <input class="form-control" name="name" [(ngModel)]="remtUser.userInfos.name">
                          </div>
                      </div>
                      <div>
                        <div class="mb-2">
                          <label for="password" class="form-label"><i class="fa fa-user-plus"></i> User Type</label>
                          <select required name="userTypeName" #userTypeName="ngModel" class="form-select" [(ngModel)]="remtUser.userTypeName">
                          <option *ngFor="let userTypeName of userTypeNames" [value]="userTypeName" style="background-color:  rgb(250, 173, 71);">{{userTypeName}}</option>
                        </select>
                      </div>                       
                    </div>

                      <div>
                          <div class="mb-2">
                              <label class="form-label">NationId</label>
                              <input class="form-control" name="nationId" [(ngModel)]="remtUser.userInfos.nationId">
                          </div>
                      </div>
                      <div>
                        <div class="mb-2">
                            <label class="form-label">PhoneNumber</label>
                            <input class="form-control" name="phoneNumber" [(ngModel)]="remtUser.userInfos.phoneNumber">
                        </div>
                    </div>
                    <div>
                      <div class="mb-2">
                          <label class="form-label">Age</label>
                          <input class="form-control" name="age" [(ngModel)]="remtUser.userInfos.age">
                      </div>
                    </div>
                  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-dialog-close class="btn btn-sm">
    <i class="fa fa-window-close"></i>Close
  </button>
  <button class="btn btn-sm m-2" (click)="onRegister()">
    <i class="fa fa-file-upload"></i> Register!
  </button>
</mat-dialog-actions>
