<div class="grid-container">
  <mat-grid-list cols="3" rowHeight="550px" class="grid-list">
      <mat-grid-tile [colspan]="3" [rowspan]="1">
          <mat-card class="dashboard-card"  style="background-color:  rgb(250, 173, 71);">
              <mat-card-header>
                  <mat-card-title>

                  </mat-card-title>
              </mat-card-header>
              <mat-card-content class="dashboard-card-content">
                  <form action="" (submit)="onRegister()">
                      <p>
                          Registered? Please
                          <a routerLink="/auth">Login</a>
                      </p>
                      <div>
                          <mat-form-field appearance="fill" color="warn">
                              <mat-label>Name</mat-label>
                              <input matInput name="name" [(ngModel)]="remtUser.name">
                          </mat-form-field>
                      </div>
                      <div>
                        <mat-form-field appearance="fill" color="warn">
                            <mat-label>userTypeName</mat-label>
                            <input matInput name="userTypeName" [(ngModel)]="remtUser.userTypeName">
                        </mat-form-field>
                    </div>

                      <div>
                          <mat-form-field appearance="fill" color="warn">
                              <mat-label>NationId</mat-label>
                              <input matInput name="nationId" [(ngModel)]="remtUser.nationId">
                          </mat-form-field>
                      </div>
                      <div>
                        <mat-form-field appearance="fill" color="warn">
                            <mat-label>PhoneNumber</mat-label>
                            <input matInput name="phoneNumber" [(ngModel)]="remtUser.phoneNumber">
                        </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field appearance="fill" color="warn">
                          <mat-label>Age</mat-label>
                          <input matInput name="age" [(ngModel)]="remtUser.age">
                      </mat-form-field>
                    </div>
                    <div class="align-content-end">
                      <button mat-raised-button>Register!</button>
                    </div>
                  </form>
              </mat-card-content>
          </mat-card>
      </mat-grid-tile>
  </mat-grid-list>
</div>
