<div class="container-fluid" >
  <div class="row">
  <a class="card col-12" *ngFor="let user of users; let i=index" [routerLink]="[ '/broker/', user._id ]">
    <div class="card-body p-0 m-0">
      <h5 class="card-header p-0 m-0">House Owner: {{user.userInfos.name}}</h5>
      <div class="card-text p-0 m-0">
        <table class="table">
          <thead>
            <tr>              
              <th>Street</th>
              <th>Type</th>
              <th>Open</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let estate of user.estates; let i=index">
              <td>{{estate.address.street}}</td>
              <td>{{estate.type}}</td>
              <td>{{estate.open}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </a>
</div>
</div>

